<div class="main-rule">
  <div class="main-rule-dialog">
    <form [formGroup]="newRule" (ngSubmit)="onSubmit()">
      <div style="display: flex; flex-direction: row;">
        <div class="leftPart">
          <div class="field">
            <p>Ally role: </p>
            <select formControlName="allyRole">
              <option *ngFor="let role of champRole" [value]="role">{{role}}</option>
            </select>
          </div>
          <div class="field">
            <p>Enemy role: </p>
            <select formControlName="enemyRole">
              <option *ngFor="let role of champRole" [value]="role">{{role}}</option>
            </select>
          </div>
          <div class="field">
            <p>Play type: </p>
            <select formControlName="playType">
              <option *ngFor="let type of playType" [value]="type">{{type}}</option>
            </select>
          </div>
          <div class="field">
            <p>Lane: </p>
            <select formControlName="lane">
              <option *ngFor="let l of lanes" [value]="l">{{l}}</option>
            </select>
          </div>
        </div>
        <div class="rightPart" style="margin-top: 6px;">
          <div *ngFor="let choice of checks; let i=index" class="col-md-2" style="margin-bottom: 4px;">
            <label>
              <input type="checkbox" [value]="choice.value" (change)="onCheckChange($event)">
              {{choice.description}}
            </label>
          </div>
        </div>
      </div>
      <button class="btn btn_make_str" type="submit">Create new rule</button>
    </form>
  </div>
</div>
