<div class="main_strategy">
  <div class="strategy">
      <div class="team">
        <h2>Your team</h2>
        <div class="team__mine">
          <div class="champ team__mine__champ1">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Aatrox.png" alt="champ" />
                <h4>TOP</h4>
              </div>
                <select name="champ1">
                  <option value="volvo">Annie</option>
                  <option value="saab">Ezreal</option>
                  <option value="fiat">Malzahar</option>
                  <option value="audi">Udyr</option>
              </select>
            </div>
            <div class="champ team__mine__champ2">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Aatrox.png" alt="champ" />
                <h4>JUNGLE</h4>
              </div>
                <select name="champ2">
                  <option value="volvo">Annie</option>
                  <option value="saab">Ezreal</option>
                  <option value="fiat">Malzahar</option>
                  <option value="audi">Udyr</option>
              </select>
            </div>
            <div class="champ team__mine__champ3">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Aatrox.png" alt="champ" />
                <h4>MID</h4>
              </div>
                <select name="champ3">
                  <option value="volvo">Annie</option>
                  <option value="saab">Ezreal</option>
                  <option value="fiat">Malzahar</option>
                  <option value="audi">Udyr</option>
              </select>
            </div>
            <div class="champ team__mine__champ4">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Aatrox.png" alt="champ" />
                <h4>ADC</h4>
              </div>
                <select name="champ4">
                  <option value="volvo">Annie</option>
                  <option value="saab">Ezreal</option>
                  <option value="fiat">Malzahar</option>
                  <option value="audi">Udyr</option>
              </select>
            </div>
            <div class="champ team__mine__champ5">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Alistar.png" alt="champ" />
                <h4>SUPPORT</h4>
              </div>
                <select name="champ5">
                  <option value="volvo">Annie</option>
                  <option value="saab">Ezreal</option>
                  <option value="fiat">Malzahar</option>
                  <option value="audi">Udyr</option>
              </select>
            </div>
        </div>
      </div>
      <div>
        <h2 style="margin-top: 40px;">VS</h2>
      </div>
      <div class="team">
        <h2>Enemy team</h2>
        <div class="team__enemy">
          <div class="champ team__enemy__champ1">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Alistar.png" alt="champ" />
                <h4>TOP</h4>
              </div>
              <select name="champ1">
                <option value="volvo">Annie</option>
                <option value="saab">Ezreal</option>
                <option value="fiat">Malzahar</option>
                <option value="audi">Udyr</option>
              </select>
          </div>
          <div class="champ team__enemy__champ2">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Alistar.png" alt="champ" />
                <h4>JUNGLE</h4>
              </div>
              <select name="champ1">
                <option value="volvo">Annie</option>
                <option value="saab">Ezreal</option>
                <option value="fiat">Malzahar</option>
                <option value="audi">Udyr</option>
              </select>
          </div>
          <div class="champ team__enemy__champ3">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Alistar.png" alt="champ" />
                <h4>MID</h4>
              </div>
              <select name="champ1">
                <option value="volvo">Annie</option>
                <option value="saab">Ezreal</option>
                <option value="fiat">Malzahar</option>
                <option value="audi">Udyr</option>
              </select>
          </div>
          <div class="champ team__enemy__champ4">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Alistar.png" alt="champ" />
                <h4>ADC</h4>
              </div>
              <select name="champ1">
                <option value="volvo">Annie</option>
                <option value="saab">Ezreal</option>
                <option value="fiat">Malzahar</option>
                <option value="audi">Udyr</option>
              </select>
          </div>
          <div class="champ team__enemy__champ5">
              <div style="display: flex;">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/Alistar.png" alt="champ" />
                <h4>SUPPORT</h4>
              </div>
              <select name="champ1">
                <option value="volvo">Annie</option>
                <option value="saab">Ezreal</option>
                <option value="fiat">Malzahar</option>
                <option value="audi">Udyr</option>
              </select>
          </div>
        </div>
      </div>
  </div>
  <button class="btn btn_make_str">MAKE STRATEGY</button>
</div>
